# .htaccess в корне проекта
RewriteEngine On

# Разрешаем доступ к реальным файлам
<IfModule mod_rewrite.c>
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?url=$1 [L,QSA]
#    RewriteRule ^admin/(.*)/(.*) index.php?controller=$1&action=$2&admin_area=1 [QSA]
    RewriteRule ^admin/(.*)/(.*)$ index.php?controller=$1&action=$2&admin=1 [QSA,L]
    RewriteRule ^admin/(.*)$ index.php?controller=$1&action=index&admin=1 [QSA,L]
</IfModule>

# Разрешаем доступ к папке photos
<IfModule mod_headers.c>
    <FilesMatch "\.(jpg|jpeg|png|gif|webp)$">
        Header set Cache-Control "public, max-age=31536000"
    </FilesMatch>
</IfModule>